.App{
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  /* width: 400px; */
  height: 500px;
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: white;
}


h1 {
  text-align: center;
  padding-top: 20px;
}

p {
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* City input form*/
form {
  text-align: center;
  margin: 30px 0;
  opacity: .6;
  transition: opacity 0.3s ease;

}

form:hover {
  opacity: 1;
}

input {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px #212121;
}

button {
  margin: 0;
  border-radius: 4px;
  border: none;
  padding: 11px 10px;
  margin-left: 10px;
  margin-top: -2px;
  outline: none;
  box-shadow: 0px 3px 10px #212121;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: rgb(235,235,235);
  color: #212121;
}


button:hover {
  background-color: white;
}
/* Info component styling */

.degrees {
  position: absolute;
  top: 11rem;
}

.degrees a{
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.degrees a:hover{
  color: #212121;
}

/* Quote container */
.quote {
  display: block;
  text-align: center;
  opacity: .7;
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  position: absolute;
  top: 70%;
  left: 15%;
  right: 15%;
}

.quote p{
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.author {
  font-weight: 600;
}

/* Info styles*/
.info {
  margin: 30px 0 0 0;
}

.city {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 7px;
  margin: 0;
}

.desc {
  margin: 0;
  font-weight: 300;
  text-transform: capitalize;
}

.icon {
  text-align: center !important;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.temp-container {
  text-align: center;
  padding-top: 20px;
}
.temp {

  font-size: 100px;
  font-weight: 900;
  margin: -20px 0 0 0;
}

/* unsplash credits*/
.unsplash-description {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
}

.unsplash-description a{
  color: white;
}

/* forecast */
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.day-forecast {
  margin: 0 5px;
}

/* credit */
.credit p {
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  left: 1rem;
  bottom: -0.3rem;
}
.credit a{
  color: white; 
}

@media only screen and (max-width: 400px) {
  .credit p {
    display: none;
  }

  .icon {
    width: 10%;

  }

  .quote {
    top: 60%;
  }


}

/* @media only screen and (max-height: 760px)
{


  .credit p {
    display: none;
  }

  .quote {
    display: none;
  }

.unsplash-description {
  display: none;
}
} */
